.vscode/
.idea/
node_modules/
flow-typed/
dist/
!assets/dist/
dev/
.env*
coverage
doc/
*.log
.vagrant/
*.js.sample
NewAgent*.json
DB/
types.ts
bfg.jar
assets/js/

# Test coverage
src/back/_tests/__coverage__/
src/front/_tests/__coverage__/
# Test cache
src/back/_tests/cache/
src/front/_tests/cache/
