<configuration>
  <system.webServer>

    <handlers>
      <add name="iisnode" path="index.bundle.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode
      loggingEnabled="true"
      devErrorsEnabled="false"
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />

    <rewrite>
      <rules>
        <rule name="lifee">
          <match url="/*" />
          <action type="Rewrite" url="index.bundle.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- exclude node_modules directory and subdirectories from serving
     by IIS since these are implementation details of node.js applications -->

     <security>
       <requestFiltering>
        <verbs>
          <add verb="PATCH" allowed="true" />
        </verbs>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
       </requestFiltering>
     </security>

  </system.webServer>
</configuration>
