@import 'var'
@import 'global'
@import 'bubble'
@import 'header'
@import 'slider'


.bubble
  @extend %bubble
  background: $thirdcolor
  max-width: 350px

// Editor
main
  position: absolute
  top: $headerheight
  left: $leftmenuwidth
  right: $rightmenuwidth
  bottom: $consoleheight
  overflow-x: hidden
  overflow-y: auto
  z-index: -10
  display: flex
  flex-direction: column

  .info-but
    position: absolute
    top: 55px
    right: 25px
    background: white
    box-shadow: 0 0 5px 0 black
    height: 25px
    width: 25px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    z-index: 20
  .info-but:hover
    background: $secondcolor

  .back-but
    position: absolute
    top: 55px
    right: 70px
    background: white
    box-shadow: 0 0 5px 0 black
    height: 25px
    width: 25px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    z-index: 20
  .back-but:hover
    background: $secondcolor

  .topbar
    max-width: 100%
    height: $topbarheight
    background: $secondcolor
    box-shadow: 0 0 5px 0 black
    flex-shrink: 0
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 20px
    div
      display: flex
      align-items: center
    h2
      font-size: 20px
      margin: 0 5px
    h2::before
      content: '- '
      margin: 0 5px
    h2:first-child::before
      content: ''
    strong
      margin-right: 10px
  .CodeMirror
    width: 100%
    height: 100%
    flex-shrink: 1
    z-index: -1

// Console
.console
  position: absolute
  left: $leftmenuwidth
  right: $rightmenuwidth
  bottom: 0
  height: $consoleheight
  overflow-x: hidden
  overflow-y: auto
  background: $firstcolor
  box-shadow: 0 0 5px 0 black
  z-index: -9

.loader
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  align-items: center
  justify-content: center

  img
    width: 50px

// Left menu
nav
  position: absolute
  top: $headerheight
  left: 0
  bottom: 0
  width: $leftmenuwidth
  background: $secondcolor
  box-shadow: 0 0 5px 0 black
  z-index: -1

  .container
    overflow-x: hidden
    overflow-y: auto
    position: absolute
    top: 70px
    left: 0
    right: 0
    bottom: 100px
    h2
      width: 80%
      margin: 10px 10%
      font-size: 20px

    h3
      width: 70%
      margin: 10px 15%

    a
      display: block
      width: 70%
      margin-left: 20%
      overflow: hidden
      text-overflow: ellipsis
    a:hover
      font-size: 17px
      font-weight: bold
    a.selected
      font-weight: bold

  .but
    position: absolute
    bottom: 0
    left: 0
    right: 0
    height: 100px
    display: flex
    align-items: center
    justify-content: center

    a
      background: $thirdcolor
      position: relative
      @extend .btn

      img
        width: 20px
        position: absolute
        right: 20px
        display: none
    a.errors
      opacity: 0.5
    a.disabled
      opacity: 0.5

      img
        display: inline

// Right menu
.rightmenu
  position: absolute
  top: $headerheight
  right: 0
  bottom: 0
  width: $rightmenuwidth
  background: $secondcolor
  box-shadow: 0 0 5px 0 black
  z-index: -1

  .paramcontainer
    overflow-x: hidden
    overflow-y: auto
    position: absolute
    top: 70px
    left: 0
    right: 0
    bottom: 0

    h2
      width: 80%
      margin: 10px 10%
      font-size: 18px

    strong
      display: block
      width: 80%
      margin: 10px 10%
      font-weight: normal
      font-size: 16px
    strong:hover
      font-size: 17px
      font-weight: bold
      cursor: pointer

// Doc
.infos
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  background: rgba(255,255,255,0.5)

  > span
    position: absolute
    left: $leftmenuwidth
    top: $headerheight
    bottom: $consoleheight
    right: $rightmenuwidth

    > div
      position: absolute
      top: 25px
      left: 25px
      right: 25px
      bottom: 25px
      background: $secondcolor
      box-shadow: 0 0 5px 0 black
      overflow: auto
      h2
        height: 100px
        margin: 0
        display: flex
        justify-content: center
        align-items: center
      > div
        position: absolute
        top: 100px
        left: 0
        bottom: 0
        right: 0
        overflow-x: hidden
        overflow-y: auto
        .accordion
          background: none
          color: black
          cursor: pointer
          font-family: $font
          padding: 18px
          width: 100%
          font-size: 20px
          text-align: left
          border: none
          outline: none
          transition: 0.4s
          border-bottom: solid 1px black
        .accordion:first-child
          border-top: solid 1px black

        .active, .accordion:hover
          background: $thirdcolor

        .panel
          padding: 0 18px
          background-color: white
          max-height: 0
          overflow: hidden
          transition: max-height 0.2s ease-out
          pre
            border: solid 1px black
            border-radius: 5px
            padding: 10px
            background: rgba(0,0,0,0.1)
            font-size: 16px

        .accordion:after
          content: '\02795'
          font-size: 13px
          color: black
          float: right
          margin-left: 5px

        .active:after
          content: "\2796"
