{% extends "./layout.twig" %}
{% block head %}
<title>Chat</title>
<script src="/js/chat.js"></script>
{% endblock %}

{% block body %}
<main>
  <div id="msg-container"></div>
    <span>
      <div class="proposition" id="prop" style='display: none'>
        <div>Hello</div>
      </div>
      <input type="text" id="input-msg">
      <button type="button" id="but-send">Send</button>
    </span>
</main>
<nav>
  <h2>Accepted types</h2>
  <div>
    <label for='i-txt'> Text
      <input type='checkbox' id='i-txt' disabled checked types='text'/>
    </label>
    <label for='i-btn'> Button
      <input type='checkbox' id='i-btn' types='btn'/>
    </label>
    <label for='i-dd'> Dropdown
      <input type='checkbox' id='i-dd' types='dropdown'/>
    </label>
    <label for='i-media'> Media
      <input type='checkbox' id='i-media' types='media'/>
    </label>
    <label for='i-link'> Link
      <input type='checkbox' id='i-link' types='link'/>
    </label>
  </div>
</nav>
{% endblock %}
