<header>
  <div>
    <img src="/pic/lifee.png"/>
    <h1>Lifee Admin</h1>
  </div>

  <ul>
    <a href="/webapp/chat" {% if nav == '1' %}class="selected"{% endif %}><li>Chat</li></a>
    <a href="/webapp" {% if nav == '2' %}class="selected"{% endif %}><li>Training & Responses</li></a>
    <a href="/webapp/addresponse" {% if nav == '3' %}class="selected"{% endif %}><li>Add response</li></a>
    <a href="/webapp/analytics" {% if nav == '4' %}class="selected"{% endif %}><li>Analytics</li></a>
    <a href="/webapp/disconnect"><li>Disconnect</li></a>
  </ul>
  <span>
    <h2>{{ user.pseudo }}</h2>
  </span>
</header>
