{% extends "./layout.twig" %}

{% block head %}
  <link rel='stylesheet' href='/CSS/home.css' />
  <script src="/JS/search.js"></script>
{% endblock %}

{% block body %}
  <div class="search" id="search" search="simple">
    <input type="text" placeholder="Search..."/>
  </div>
  <main>

    {% for type in types %}
      <a href="/webapp/{{ type }}" s-val="{{ type }}">{{ type | capitalize }}</a>
    {% else %}
      No types found
    {% endfor %}
  </main>
{% endblock %}
