body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Arial";
}

a {
  color: inherit;
  text-decoration: none;
}

.search {
  display: flex;
  width: 80%;
  margin: 20px 10%;
  height: 30px;
  position: relative;
  align-items: center;
}
.search input {
  width: 100%;
  flex-shrink: 1;
  height: 100%;
  background: none;
  border: none;
  border-bottom: solid 2px black;
  font-family: "Arial";
  font-size: 20px;
  padding: 5px;
}

.btn, nav .but a {
  display: flex;
  width: 200px;
  height: 40px;
  background: #d1f5f9;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

main {
  position: absolute;
  top: 50px;
  left: 300px;
  right: 300px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -10;
}
main .info-but {
  position: absolute;
  top: 15px;
  right: 25px;
  background: white;
  box-shadow: 0 0 5px 0 black;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 20;
}
main .info-but:hover {
  background: #d1f5f9;
}
main .back-but {
  position: absolute;
  top: 15px;
  right: 70px;
  background: white;
  box-shadow: 0 0 5px 0 black;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 20;
}
main .back-but:hover {
  background: #d1f5f9;
}
main .CodeMirror {
  width: 100%;
  height: 100%;
}

.console {
  position: absolute;
  left: 300px;
  right: 300px;
  bottom: 0;
  height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 0 0 5px 0 black;
  z-index: -9;
}

nav {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #d1f5f9;
  box-shadow: 0 0 5px 0 black;
  z-index: -1;
}
nav .container {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 100px;
}
nav .container h2 {
  width: 80%;
  margin: 10px 10%;
  font-size: 20px;
}
nav .container h3 {
  width: 70%;
  margin: 10px 15%;
}
nav .container a {
  display: block;
  width: 70%;
  margin-left: 20%;
}
nav .but {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .but a {
  background: #F9D5D1;
  position: relative;
}
nav .but a img {
  width: 20px;
  position: absolute;
  right: 20px;
  display: none;
}
nav .but a.errors {
  opacity: 0.5;
}
nav .but a.disabled {
  opacity: 0.5;
}
nav .but a.disabled img {
  display: inline;
}

.rightmenu {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 300px;
  background: #d1f5f9;
  box-shadow: 0 0 5px 0 black;
  z-index: -1;
}
.rightmenu .paramcontainer {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}
.rightmenu .paramcontainer strong {
  display: block;
  width: 80%;
  margin: 10px 10%;
  font-weight: normal;
  font-size: 16px;
}

.infos {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
}
.infos > span {
  position: absolute;
  left: 300px;
  top: 50px;
  bottom: 0;
  right: 300px;
}
.infos > span > div {
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  background: #d1f5f9;
  padding: 30px;
  overflow: auto;
}

/*# sourceMappingURL=file.css.map */
